/* the styles for the elements */
body {
	font-family: sans-serif;
}
a {
	color: maroon;
}
a:hover {
	color: steelblue;
}
ul a {
	color: steelblue;
}
ul a:hover {
	color: maroon;
}

/* the styles for the header */
header h2 {
	font-style: italic;
	text-indent: 30px;
}
header h3 {
	text-indent: 30px;
}
header img{
	float: left;
}

/* the styles for the footer */
footer p {
	text-align: center;
}
