/* custom property */
:root {
	--global-color-1: steelblue;
}
/* the styles for the elements */
body {
	font-family: sans-serif;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	border: 3px solid steelblue;
	box-shadow: 0 10px 20px 10px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
a {
	font-weight: bold;
}
a {
  text-decoration: none;
}

/* the styles for the header */
header {
	padding: 15px 30px;
	border-bottom: 2px solid steelblue;
	background: linear-gradient(to bottom, lightsteelblue 100%, white 0%);
}
header img{
	float: left;
}
header h2 { 
	color: steelblue;
	font-size: 250%;
	font-style: italic;
	text-indent: 45px;
	text-shadow: 3px 3px 3px steelblue;
	margin-bottom: .3em;
}
header h3 {
	font-size: 150%;
	text-indent: 45px;
	padding-bottom: .75em;
}

/* Main Navigation Styles */
nav {
    width: 100%; /* Make the nav bar span the full width */
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%; /* Ensure the ul takes up the full width */
    justify-content: space-around; /* Add space around each menu item */
    background-color: steelblue; /* Background color for the menu */
}
nav ul li {
    position: relative;
    text-align: center; /* Center the menu items */
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s;
}
/* Current page link styling */
nav ul li a[href="index.html"] {
    color: black; /* Black color for the currently displayed page */
}
/* Submenu styling */
nav ul li ul {
    display: none; /* Hide submenu by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: steelblue;
    padding: 0;
    list-style: none;
    margin: 0;
}
nav ul li:hover ul {
    display: block; /* Show submenu on hover */
}
nav ul li ul li a {
    padding: 10px 20px;
    white-space: nowrap;
}
nav ul li ul li a:hover {
    background-color: lightsteelblue; /* Lightsteelblue background for hover */
}
/* Hover effects */
nav ul li a:hover,
nav ul li a:focus {
    background-color: lightsteelblue; /* Hover color for top-level links */
}

/* the styles for the sidebarA */
#sidebarA {
	width: 250px;
	float: left;
}
#sidebarA li {
	text-decoration: none;
}	

/*style for section*/
section{
	width: 550px;
	float: left;
	padding: 25px 30px;
}
section h1{
	font-size: 130%
	margin-bottom:.3em;
}
section h2 {
	font-size: 130%;
	margin-bottom: .5em;
}
section h3 {
	color: maroon;
	font-size: 110%;
	margin-bottom: .4em;
}
section p {
	font-size: 100%;
	margin-bottom: .7em;
}
section a:link, section a:visited {
	color: maroon;
}
section a: hover, section a:focus {
	color: steelblue;
}

/* the styles for the sidebarB */
#sidebarB {
	width: 290px;
	float: right;
	padding: 25px 30px 0 0;
}
#sidebarB h2 {
	font-size: 130%;
	color: maroon;
	margin-bottom: .5em;
}
#sidebarB p {
	margin-bottom: .7em;
}

/* the styles for the footer */
footer {
	background-color: steelblue;
	clear: both;
	padding: 15px 30px;
}
footer p {
	text-align: center;
	color: white;
	font-size: 85%;
}
